

.blog__item{
    border: 1px solid #7c8a972e;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;

}

.blog__time{
    border-top: 1px solid #7c8a972e;
    font-size: 1.0rem;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.read__more{
    font-size: 1.0rem;
    color: #FF5D9E;
}

.read__more:hover{
    color: #0e122c;
}

.blog__time span i {
    color: #FF5D9E;
}

.blog__author {
    color: #0e122c;
    font-weight: 600;
}

.blog__author i {
    font-weight: 500;
}

.blog__title {
    text-decoration: none;
    color: #0e122c;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.4s;
}

.blog__title:hover {
    color: #FF5D9E;
}

@media only screen and (max-width:768px) {
    .blog__time{
        padding-top: 5px !important;
    }

    .blog__time span {
        font-size: 0.7rem;
    }

    .blog__info p{
        font-size: 0.7rem;
        line-height: 1.5rem;
        margin-top: 10px;
    }

    .blog__title{
        font-size: 1.1rem;
    }

    .read__more{
        font-size: 0.7rem;
    }

  

}

