

.payment label {
    font-weight: 600;
    color: #6d42c7;
}

.payment button {
    padding: 8px 15px;
    background: #6d42c7;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
}