

.payment label {
    font-weight: 600;
    color: #6d42c7;
}

.payment button {
    padding: 8px 15px;
    background: #6d42c7;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
}

.payment-method h4{
    margin-bottom: 30px;
<<<<<<< HEAD
    color: #6d42c7;         /* website accent color */
=======
    color: #007bff;         /* website accent color */
>>>>>>> e188a9cde8332765574c75e97f384e46edcfd986
    font-weight: 600;
    text-align: center;
}